* {
  box-sizing: border-box;
}

body {
  font-family: 'Cabin', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #8CABFF;
}

h2,
h3 {
  color: #35155D;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #35155D;
  border-bottom: 1px solid #35155D;
  padding: 10px;
  background-color: #35155D;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.head {
  order: 2;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  color: #8CABFF;
  font-weight: bold;
  margin-right: 20px;
  border: 1px solid #8CABFF;
  font-size: 20px;
}

/* Footer */

footer {
  padding: 5px;
  border-top: 1px solid #35155D;
  border-bottom: 1px solid #35155D;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #35155D;
  color: #8CABFF;
}

nav {
  order: 1; /* Menggeser elemen ini ke kanan */
}

/* Navigation */

nav {
  padding: 0px;
}

nav a {
  text-decoration: none;
  color: #8CABFF;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 20px;
}

nav li {
  display: inline-block;
  padding: 10px;
  border: 1px solid #35155D;
  background-color: #35155D;
}

nav li:hover {
  background-color: #35155D;
  border: 1px solid #8CABFF;
}

#course-menu {
  display: none;
  position: absolute;
  background-color: #fff; /* Warna background dropdown */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#course-menu li {
  display: block;
}

#course-dropdown:hover #course-menu {
  display: block;
}

.show {
  display: block;
}

/* Main */

main {
  display: flex;
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Content */

.content-section {
  flex: 70%;
}

.side-section {
  flex: 30%;
}

.side img {
  border: 1px solid #868AEF;
  padding: 5px;
  width: 100%;
  height: auto;
}

.side img:hover {
  border: 1px solid #35155D;
}

.card {
  border-radius: 0px;
  padding: 20px;
  padding-top: 10px;
  margin: 10px;
  border: 1px solid #868AEF;
  background-color: #8CABFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.card:hover {
  border: 1px solid #35155D;
}

.featured-image {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}

.img-artc {
  width: 100%;
  padding: 5px;
  border: 1px solid #868AEF;
}

.img-artc:hover {
  border: 1px solid #35155D;
}

.txt-artc {
  padding: 5px;
}

.social {
  border: 1px solid #868AEF;
  padding: 5px;
  border-radius: 5px;
  font-size: 30px; 
  margin-right: 5px; 
  color: #35155D;
  margin-top: 10px;
}

.social-icons {
  display: flex; 
}

.social:hover {
  border: 1px solid #35155D;
}

table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

th {
  text-align: left;
  width: 40%;
  vertical-align: top;
}

td {
  text-align: left;
  vertical-align: top;
  padding-left: 15px;
}

/* Slider */

.image-slider {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.slide {
  display: none;
  width: 100%;
}

/* Media */

@media screen and (max-width: 1000px) {
  main {
    flex-direction: column;
  }
  
  .content-section,
  .profile-section,
  .img-artc {
    width: 100%;
  }
}

