* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cabin', sans-serif;
    height: 100%;
    background-color: #8CABFF;
}

input[type="text"], input[type="number"] {
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    padding: 5px;
    margin: 1px;
    width: 100%;
    background-color: rgba(140, 171, 255, 0.5);
    border: 1px solid #35155D;
    outline: none;
}

input[type="checkbox"] {
    padding: 5px;
    margin: 1px;
    background-color: rgba(140, 171, 255, 0.5);
    border: 1px solid #35155D;
    outline: none;
}

button {
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    border: 0;
    padding: 10px;
    margin-top: 5px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #35155D;
    color: #8CABFF;
    font-weight: bold;
}

label {
    font-size: 16px;
    padding: 5px;
    margin: 1px;
}

table {
    width: 100%;
}

th {
    text-align: left;
    vertical-align: top;
    width: 30%;
}

td {
    text-align: left;
    vertical-align: top;
    width: 70%;
}

h3 {
    border-bottom: 1px solid #35155D;
    padding: 10px;
    padding-left: 20px;
    background-color: #35155D;
    color: #8CABFF;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #35155D;
  border-bottom: 1px solid #35155D;
  padding: 10px;
  background-color: #35155D;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.head {
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  color: #8CABFF;
  font-weight: bold;
  margin-left: 20px;
  border: 1px solid #8CABFF;
  font-size: 20px;
}

/* Footer */

footer {
  padding: 5px;
  border-top: 1px solid #35155D;
  border-bottom: 1px solid #35155D;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #35155D;
  color: #8CABFF;
}

/* Main */

main {
    min-height: 845px;
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.operation {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.book {
    display: flex;
    width: 70%;
}

.search_section {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 1px solid #35155D;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.input_section {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 1px solid #35155D;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card_content {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.book_shelf {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 1px solid #35155D;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.book_shelf > .book_list {
    padding: 10px;
}

.book_shelf > .book_list > .book_item {
    padding: 10px;
    padding-bottom: 15px; 
    border: 1px solid #35155D;
    border-radius: 3px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: #35155D;
}

.book_shelf > .book_list > .book_item > h4 {
    border-bottom: 1px solid #35155D;
    padding: 5px;
    padding-left: 10px;
}

.book_shelf > .book_list > .book_item > p {
    padding: 5px;
    padding-left: 10px;
    border-bottom: 1px solid #35155D;
}

.book_shelf > .book_list > .book_item > .action > button {
    font-size: 16px;
    border: 1px solid;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-right: 3px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #35155D;
    color: #8CABFF;
    font-weight: bold;
}

.book_shelf > .book_list > .book_item > .action > .green {
    background-color: darkgreen;
}

.book_shelf > .book_list > .book_item > .action > .red {
    background-color: darkred;
}

.book_shelf > .book_list > .book_item > .action > .blue {
    background-color: #35155D;
}

/* Media */

@media screen and (max-width: 1000px) {
  main {
    flex-direction: column;
}

.input_section,
.search_section,
.operation,
.book,
.book_shelf {
    width: 100%;
    flex-direction: column;
}
}