<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Restaurant App</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <!-- skip to content   -->
  <button class="skip-to-content">Skip to content</button>

  <app-bar></app-bar>

  <main id="main-content" tabindex="0">

  </main>

  <footer-app></footer-app>

  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
</body>
</html>
